<%= form_with(model: wiki_post) do |form| %>
  <% if wiki_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wiki_post.errors.count, "error") %> prohibited this wiki_post from being saved:</h2>

      <ul>
        <% wiki_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :author_id, style: "display: block" %>
    <%= form.select :author_id, Author.all.collect { |a| [ a.name, a.id ] }, {prompt: 'Select Person'} %>
  </div>

  <div>
  <%= form.label :image, style: "display: block" %>
  <%= form.file_field :image %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
